name: go build and test

on:
  push:
    branches-ignore:
      - main

jobs:
  build-and-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
          cache: true
      - name: build binary
        run: make install
      - name: unit tests
        run: ./.scripts/run-unit-tests-with-summary.sh > "$GITHUB_STEP_SUMMARY"
      - uses: bats-core/bats-action@4.0.0
        name: setup bats
        id: setup-bats
      - name: install expect
        run: sudo apt install -y expect
      - name: end to end tests
        shell: bash
        env:
          BATS_LIB_PATH: ${{ steps.setup-bats.outputs.lib-path }}
          TERM: xterm
        run: ./.scripts/run-e2e-tests-with-summary.sh > "$GITHUB_STEP_SUMMARY"
