name: golangci-lint

on:
  push:
    branches-ignore:
      - main

jobs:
  lint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        name: Set up Go
        with:
          go-version: 1.25
      - uses: golangci/golangci-lint-action@v9
        name: golangci-lint
        with:
          version: latest
